<section id="inquire-worksheet-container" class="container">
    <div class="table table-bordered table-responsive">
        <table id="inquire-table">
            <tbody class="table">
                <tr class="table-warning">
                    <th width="3%"></th>
                    <th width="700px">지난업무</th>
                    <th width="700px">금주업무</th>
                    <th width="700px">예정된 업무</th>
                </tr>
                <tr>
                    <th height="360" class="table-warning">주업무</th>
                    <td>
                        <textarea style="background-color: #E7F2EB;" rows="13" class="form-control common-work-textarea" 
                            placeholder="등록된 업무가 없습니다!" disabled><% lastWork.forEach(function (last_work, index, lastWork) { %>날짜 : <%=lastWork[lastWork.length - index -1].start_date %> ~ <%=lastWork[lastWork.length - index -1].end_date %>
업무 :
<%=lastWork[lastWork.length -index -1].work%>
-----------------------------------------
<% }); %>
                        </textarea>
                    <td>
                        <textarea style="background-color: #E7F2EB;" rows="13" class="form-control common-work-textarea" placeholder="등록된 업무가 없습니다!" disabled><%=thisWork%></textarea>
                    </td>
                    <td>
                        <textarea style="background-color: #E7F2EB;" rows="13" class="form-control common-work-textarea" placeholder="등록된 업무가 없습니다!" disabled><%=futureWork%></textarea>
                    </td>
                </tr>

                <tr>
                    <th height="200" class="table-warning">부업무</th>
                    <td>
                        <textarea style="background-color: #E7F2EB;" rows="10" class="form-control common-work-textarea" 
                            placeholder="등록된 업무가 없습니다!" disabled><% sub_lastWork.forEach(function (sub_last_work, index, sub_lastWork) { %>날짜 : <%=sub_lastWork[sub_lastWork.length - index -1].start_date %> ~ <%=sub_lastWork[sub_lastWork.length - index -1].end_date %>
업무 : 
<%=sub_lastWork[sub_lastWork.length -index -1].work%>
-----------------------------------------
<% }); %>
                        </textarea>
                    </td>
                    <td>
                        <textarea style="background-color: #E7F2EB;" rows="10" class="form-control common-work-textarea" placeholder="등록된 업무가 없습니다!" disabled><%=sub_thisWork%></textarea>
                    </td>
                    <td>
                        <textarea style="background-color: #E7F2EB;" rows="10" class="form-control common-work-textarea" placeholder="등록된 업무가 없습니다!" disabled><%=sub_futureWork%></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
