<section id="inquire-worksheet-container" class="container">
    <div class="table table-bordered table-responsive">
        <table id="inquire-table">
            <tbody class="table">
                <tr class="table-warning">
                    <th width="3%"></th>
                    <th width="700px">지난업무</th>
                    <th width="700px">금주업무</th>
                    <th width="700px">예정된 업무</th>
                </tr>
                <tr>
                    <th height="280" class="table-warning">주업무</th>
                    <td>
                        <% lastWork.forEach(function (last_work, index) { %>
                        <div class="table-bordered">
                            <span><%=last_work.start_date %> ~ <%=last_work.end_date %></span><br><br>
                            <span><%=last_work.work%></span>
                        </div>
                        <% }); %>
                    <td>
                        <textarea rows="10" class="form-control common-work-textarea" placeholder="등록된 업무가 없습니다!" disabled><%=thisWork%></textarea>
                    </td>
                    <td>
                        <textarea rows="10" class="form-control common-work-textarea" placeholder="등록된 업무가 없습니다!" disabled><%=futureWork%></textarea>
                    </td>
                </tr>

                <tr>
                    <th height="280" class="table-warning">부업무</th>
                    <td>
                        <% sub_lastWork.forEach(function (sub_last_work, index) { %>
                        <div class="table-bordered">
                            <span><%=sub_last_work.start_date%> ~ <%=sub_last_work.end_date%></span><br><br>
                            <span><%=sub_last_work.work%></span>
                        </div>
                        <% }); %>
                    </td>
                    <td>
                        <textarea rows="10" class="form-control common-work-textarea" placeholder="등록된 업무가 없습니다!" disabled><%=sub_thisWork%></textarea>
                    </td>
                    <td>
                        <textarea rows="10" class="form-control common-work-textarea" placeholder="등록된 업무가 없습니다!" disabled><%=sub_futureWork%></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
