<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="author" content="John Doe">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>APL KOREA</title>
 
    <!-- Plugin-CSS -->
    <link rel="stylesheet" href="<%=url%>stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="<%=url%>stylesheets/owl.carousel.min.css">
    <link rel="stylesheet" href="<%=url%>stylesheets/themify-icons.css">
    <link rel="stylesheet" href="<%=url%>stylesheets/magnific-popup.css">
    <link rel="stylesheet" href="<%=url%>stylesheets/animate.css">
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" href="<%=url%>stylesheets/normalize.css">
    <link rel="stylesheet" href="<%=url%>style.css">
    <link rel="stylesheet" href="<%=url%>stylesheets/responsive.css">
    <script src="<%=url%>js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body data-spy="scroll" data-target="#primary-menu">

    <div class="preloader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>
    <!--Mainmenu-area-->
    <div class="mainmenu-area" data-spy="affix" data-offset-top="100">
        <div class="container">
            <!--Logo-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand logo">
                    <h2>APL Work Management System</h2>
                </a>
            </div>
        </div>
    </div>
    <!--Mainmenu-area/-->



    <!--Header-area-->
    <header class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text">
                    <h2>업무관리를 제대로 시작하세요</h2>
                    <p>업무 효율성을 극대화 시킬 수 있는 업무관리 프로그램입니다</p>
                    <a href="/user/login" class="button white">시작하기</a>
                </div>
            </div>
        </div>
    </header>
    <!--Header-area/-->

    <!--Vendor-JS-->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <!--Plugin-JS-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.parallax-1.1.3.js"></script>
    <script src="js/scrollUp.min.js"></script>
    <script src="js/magnific-popup.min.js"></script>
    <script src="js/wow.min.js"></script>
    <!--Main-active-JS-->
    <script src="js/main.js"></script>
</body>

</html>
